/*
    CSS para el examen

    colores:

    fondo: #333333;
    fondo cajas: #424242;
    linea: lightgray;
    boton: #007BFF;
    boton seleccionado: #0056b3;
*/

body {
    /* 1- color de fondo */
    background-color: #333333;
    /* 2- ancho 90% */
    width: 90%;
    /* 3- centrar */
    margin: auto;
}

.container {
    text-align: center;
}

.youtuber, .footer, .header {
    /* 4- color de fondo */
    background-color: #424242;
    border: 1px solid lightgray;
    /* 5- redondear el borde */
    border-radius: 10px;
    /* 6- sombra */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    padding: 20px;
    text-align: center;    
}

.footer {
    padding: 0px;
    color: white;
}

.imageHome {
    border: black 4px solid;
    border-radius: 3%;
    /* 7- tama침o */
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.youtuber .images {
    /* 8- redondear la imagen */
    width: 150px;
    height: 150px;    
    border-radius: 50%;
    object-fit: cover; 
}

.youtuber h2 {    
    color: white;
    font-size: 1.5em;
    margin: 10px 0;
}

.youtuber p {
    color: white;
    font-size: 1em;
}

#menu {
    /* 9- quita los puntos */
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

li {
    /* 10- haz que los li no sean de tipo bloque */
    display: inline;
    /* 11- borde izquierdo rojo */
    border-left: 4px red solid;
    /* 12- separa el borde de la izquierda */
    padding-left: 5px;
}

#menu a {
    /* 13- enlaces blancos */
    color: white;
    /* 14- sin subrayado */
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    /* 15- cambia el color al subrayado */
    color: red;
    text-decoration: underline;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: #7611be;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    /* 16- cambia el color al bot칩n */
    background-color: #3f0452;
}

@media all and (max-width: 700px) {
    body .youtuber,
    body .footer,
    body .header {
        /* 17- cambia el color al BORDE */
        border: 1px solid red;
    }

    .button {
        /* 18- cambia el color al bot칩n */        
        background-color: red;
    }

    .button:hover {
        /* 19- cambia el color al bot칩n */
        background-color: darkred;
    }    
}
