/* Fondo general */
body {
  background-color: #d5c7e8;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* Flecha superior */
.flecha-superior {
  background: url("flecha_arriba.png") no-repeat center;
  height: 80px;
  margin-top: 10px;
}

/* Título */
h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 6px solid black;
}

/* Imagen con marco */
.box-img {
  float: right;
  width: 430px;
  margin: 30px 50px 0 0;
  border: 4px solid black;
  background-color: white;
  padding: 10px;
}

.box-img img {
  width: 100%;
  display: block;
}

/* Menú */
nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  background-color: #fffdb0;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #003366;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-left: 5px solid red;
  padding: 0 15px;
}

/* Créditos */
.creditos {
  text-align: center;
  margin: 15px 0;
  font-style: italic;
}

/* Caja general alrededor de todos los párrafos */
.caja-general {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
}

/* Flechas laterales */
.flecha-izq,
.flecha-der {
  width: 70px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
}

.flecha-izq {
  background-image: url("flecha_izq.png");
  left: -80px;
}

.flecha-der {
  background-image: url("flecha_der.png");
  right: -80px;
}

/* Caja con doble borde */
.contenedor-parrafos {
  background: white;
  border: 5px solid #333;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.contenedor-parrafos::after {
  content: "";
  position: absolute;
  inset: 10px;
  border: 3px dashed #333;
  border-radius: 15px;
}

/* Párrafos */
.contenedor-parrafos p {
  background: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  text-indent: 40px;
}

/* Párrafo superior redondeado */
.p1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url("fondo.png");
}

/* Párrafo inferior redondeado */
.p3 {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #e9bada;
  padding: 15px;
  margin-top: 50px;
  border-top: 5px solid #003366;
}
