body {
    text-align: center; /* Centrar contenido */
    background-image: url("fondo2.png"); /* Cambia por tu imagen */
    background-position: center; /* Que cubra toda la pantalla */
    background-repeat: no-repeat; /* No repetir */
    background-attachment: fixed; /* Fondo fijo */   
    background-size: cover;
}

/* ====== H1 ====== */
h1 {
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    border-left-width: 8px ; /* Borde lateral */
    border-left-style: solid;
    border-left-color: white;
}

/* ====== IMÁGENES ====== */
img {
    height: 500px;
    border: 3px solid black; /* Borde negro */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 5px 5px 10px black; /* Sombra */
}

/* ====== LISTAS ====== */
ul {
    list-style-type: none; /* Quitar puntos */
}

li {
    display: inline; /* Que aparezcan en la misma línea */
    border: 2px solid #333; /* Borde alrededor */
}

a {
    color: black;
  
}