body {
    text-align: top center; /* Centrar contenido */
    background-image: url("../fondo1.png"); /* Cambia por tu imagen */
    background-size: cover; /* Que cubra toda la pantalla */
    background-repeat: no-repeat; /* No repetir */
    background-attachment: fixed; /* Fondo fijo */
   
}

/* ====== H1 ====== */
h1 {
    background-color: #4A2C2A; /* Color de fondo */
    color: #F5F5DC; /* Color del texto */
    border-left: 8px solid #FF9900; /* Borde lateral */
    padding: 10px;
    margin: 20px auto;
    width: fit-content; /* Ajusta al contenido */
}

/* ====== IMÁGENES ====== */
img {
    width: 300px; /* Tamaño fijo */
    height: auto;
    border: 3px solid black; /* Borde negro */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); /* Sombra */
    margin: 10px;
}

/* ====== LISTAS ====== */
ul {
    list-style-type: none; /* Quitar puntos */
    padding: 0;
    margin: 20px 0;
}

li {
    display: inline-block; /* Que aparezcan en la misma línea */
    border: 2px solid #333; /* Borde alrededor */
    padding: 10px 20px;
    margin: 5px;
    background-color: #EEE;
    transition: 0.3s;
}

li:hover {
    background-color: #CCC; /* Efecto al pasar el ratón */
}
